@charset "UTF-8";
<style type="text/css">
body {
	font-family: 'Nanum Brush Script', cursive;
}

a {
	text-decoration: none;
	color: #000000;
}
</style>
<style>
@import
	url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap')
	;
</style>